body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    font-family: 'Itim', cursive;
}

                        /*NAVBAR*/

.navbar{
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
    top: 0;
    height: 86px;
    margin-bottom: 2em;
}

.contenedor_botones{
	top: 0;
}


                                /*************************/
                                /*********BOTONES*********/
                                /*************************/

                                        /*INICIO*/

.contenedor_botones__botonInicio1{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 26px 50px 26px;
    transform: translate(150px, 0);
    text-align: center;
    transition: .3s ease-out all;
}

.contenedor_botones__botonInicio2{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 26px 50px 26px;
    transform: translate(150px, 0);
    text-align: center;
    transition: .3s ease-out all;
}

.contenedor_botones__botonInicio3{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 26px 50px 26px;
    transform: translate(150px, 0);
    text-align: center;
    transition: .3s ease-out all;
}

.contenedor_botones__botonInicio4{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 26px 50px 26px;
    transform: translate(150px, 0);
    text-align: center;
    transition: .3s ease-out all;
}

.contenedor_botones__botonInicio5{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 26px 50px 26px;
    transform: translate(150px, 0);
    text-align: center;
    transition: .3s ease-out all;
}



.navbar a:hover{
    background: #FF9900;
    color: #000;
    text-decoration: none;
}

                        /*FIN DEL NAVBAR*/


                        /*************************/
                        /**********INICIO*********/
                        /*************************/


.marquesina-contenedor{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    position: relative;
    max-width: 725px;
    margin: 30px;
}

.logo img{
    width: 625px;
    height: 417px;
    margin: 10px;
    padding: 5% 0 5% 10%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: 0;
    text-align: center;
    padding: 0 0 5px 0;
}

.presentacion{
    text-align: center;
    margin: 5%;
}






                        /*************************/
                        /***********SALA**********/
                        /*************************/

.galeria {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

.galeria .foto {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    transition: 0.6s ease;
}
.galeria .foto:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
    width: 100%;
    height: 0;
    transition: 0.55s ease;
    overflow: hidden;
}
.overlay h2 {
    color: #fff;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.foto:hover .overlay {
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

/*---------------------*/

.contenedor-modal.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.contenedor-modal.active img {
    z-index: 3;
    width: 700px;
    height: 700px;
}

.contenedor-modal.active::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.459);
}


                                /*GALERIA 2 LIBRERO*/

.galeria_2 {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

.galeria_2 .foto_2 {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    transition: 0.6s ease;
}
.galeria_2 .foto_2:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto_2 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.overlay_2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
    width: 100%;
    height: 0;
    transition: 0.55s ease;
    overflow: hidden;
}
.overlay_2 h2 {
    color: #fff;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.foto_2:hover .overlay_2 {
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

/*---------------------*/

.contenedor-modal_2.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.contenedor-modal_2.active img {
    z-index: 3;
    width: 700px;
    height: 700px;
}

.contenedor-modal_2.active::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.459);
}


                        /*GALERIA 3 SOFA*/

.galeria_3 {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

.galeria_3 .foto_3 {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    transition: 0.6s ease;
}
.galeria_3 .foto_3:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto_3 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.overlay_3 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
    width: 100%;
    height: 0;
    transition: 0.55s ease;
    overflow: hidden;
}
.overlay_3 h2 {
    color: #fff;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.foto_3:hover .overlay_3 {
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

/*---------------------*/

.contenedor-modal_3.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.contenedor-modal_3.active img {
    z-index: 3;
    width: 700px;
    height: 700px;
}

.contenedor-modal_3.active::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.459);
}

                    /*Mesa_Sala*/

.galeria_4 {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

.galeria_4 .foto_4 {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    transition: 0.6s ease;
}
.galeria_4 .foto_4:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto_4 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.overlay_4 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
    width: 100%;
    height: 0;
    transition: 0.55s ease;
    overflow: hidden;
}
.overlay_4 h2 {
    color: #fff;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.foto_4:hover .overlay_4 {
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

/*---------------------*/

.contenedor-modal_4.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.contenedor-modal_4.active img {
    z-index: 3;
    width: 700px;
    height: 700px;
}

.contenedor-modal_4.active::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.459);
}




                        /*FORMULARIO DE CONTACTO*/

.contenedor-contacto{
    margin: 60px;
    max-width: 1170px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
}
.contenedor-wrapper > *{
    padding: 1em;
}
.contenedor-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
    grid-column: 1/3;
}
.contenedor-form form p{
    margin: 0;
    padding: 1em;
}
.contenedor-form form button,
.contenedor-form form input,
.contenedor-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    font-size: 20px;
    outline: 0;
    color: #000;
    border-radius: 20px;
    border-bottom: 1px solid #5996E0;
    border-top: 1px solid #5996E0;
    border-right: 1px solid #5996E0;
    border-left: 1px solid #5996E0;
}
.contenedor-form form button{
    background: #b70e21;
    color: #000;
    font-size: 20px;
    border: 0;
    /*Todo el texto en mayuscula*/
    text-transform: uppercase;
    padding: 1em;
}
.contenedor-form form button:hover,
.contenedor-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}




                        /*BARRA BAJA*/
footer{
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
    width: 100%;
    height: auto;
    overflow: auto;
}
.texto-icono{
    width: 100%;
    margin: 0 auto;
}
.icono-texto-texto{
    float: right;
    width: 100%;
    padding: 2%;
}
.social {
	text-align: center;
}

.social li {
	display: inline;
}

.social i {
	font-size: 300%;
	margin: 1%;
	padding: 15px;
	color: #000;
}
.barra-baja i:hover{
    color: #FF8000;
}
.footer-dos{
    border-top: 1px solid #aadcd2;
    text-align: center;
	margin: 0;
}
.footer-dos p{
    margin:10px;
    text-align: center;
	color: #000;
	font: 160%;
	line-height: 155%;
}
.footer-dos a:hover{
    color: #FF8000;
}